.bg-gradient-omega-900 {
    background-image: linear-gradient(to right,
            rgb(24 24 27),
            rgb(39 39 42));
}

.to-alpha {
    --tw-gradient-to: rgb(245 158 11);
}

.from-beta {
    --tw-gradient-from: rgb(244 63 94);
    --tw-gradient-to: rgb(244 63 94);
    --tw-gradient-stops: rgb(244 63 94), rgb(245 158 11);
}

.bg-accent {
    --tw-bg-opacity: 1;
    background-color: rgb(59 130 246)/var(--tw-bg-opacity);
}

.from-omega-900 {
    --tw-gradient-from: rgb(24 24 27);
    --tw-gradient-to: rgb(24 24 27/0);
    --tw-gradient-stops: rgb(24 24 27), rgb(24 24 27);
}

@media (min-width: 768px) {
    .md\:hover\:to-accent:hover {
        --tw-gradient-to: rgb(59 130 246/1);
    }

    .md\:hover\:from-accent-700:hover {
        --tw-gradient-from: rgb(29 78 216/1);
        --tw-gradient-to: rgb(29 78 216/0);
        --tw-gradient-stops: rgb(29 78 216/1), rgb(59 130 246);
    }

    .md\:hover\:to-accent:hover {
        --tw-gradient-to: rgb(59 130 246/1);
    }

    .bg-omega-800 {
        background-color: rgb(39 39 42) ;
    }

  .md\:text-omega-500 {
    color: rgb(113, 113, 122);
  }

  .group:hover .md\:group-hover\:text-alpha {
    color: rgb(245, 158, 11);
  }

}



.bg-accent {
    --tw-bg-opacity: 1;
    background-color: rgb(59 130 246 /var(--tw-bg-opacity));
}

.bg-gradient-to-tr {
    --tw-gradient-position: to top right in oklab;
    background-image: linear-gradient(var(--tw-gradient-stops));
}