@import "tailwindcss";
@import "boxicons/css/boxicons.min.css";


:root {
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



/* css */



.with-back-plate:before {
    content: "";
    z-index: -1
}



* {
    scrollbar-color: auto;
    scrollbar-width: auto;
    box-sizing: border-box
}

h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    letter-spacing: -.025em;
    margin: 1.5rem 0;
}

@media (min-width: 768px) {
    h1 {
        font-size: 3rem;
        line-height: 1
    }
}

@media (min-width: 1024px) {
    h1 {
        font-size: 3.75rem;

        
        line-height: 1
    }
}

h2 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    letter-spacing: -.025em
}

@media (min-width: 768px) {
    h2 {
        font-size: 2.25rem;
        line-height: 2.5rem
    }
}

@media (min-width: 1024px) {
    h2 {
        font-size: 3rem;
        line-height: 1
    }
}

h3 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    letter-spacing: -.025em
}

@media (min-width: 1024px) {
    h3 {
        font-size: 2.25rem;
        line-height: 2.5rem
    }
}

h4 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700
}

@media (min-width: 768px) {
    h4 {
        font-size: 1.875rem;
        line-height: 2.25rem
    }
}

h5 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700
}

@media (min-width: 768px) {
    h5 {
        font-size: 1.5rem;
        line-height: 2rem
    }
}

h6 {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700
}

@media (min-width: 768px) {
    h6 {
        font-size: 1.25rem;
        line-height: 1.75rem
    }
}

p {
    font-size: 1rem;
    line-height: 1.5rem
}

@media (min-width: 768px) {
    p {
        font-size: 1.125rem;
        line-height: 1.75rem
    }
}

small, small * {
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 500
}

@media (min-width: 768px) {
    small, small * {
        font-size: 1rem;
        line-height: 1.5rem
    }
}

.preview__header {
    font-size: 30px;
    height: 54px;
    background-color: #262626;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    line-height: 54px;
    margin-bottom: 1px
}

.preview__header a {
    font-size: 30px;
    font-weight: 600;
}



.preview__logo a {
    font-family: "Roboto", sans-serif;
    display: inline-block;
    color: rgb(236, 14, 144);
    height: 18px;
}

@media (max-width: 568px) {
    .preview__header {
        padding: 0 30px
    }


}

.gradient-top-border::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: linear-gradient(to right, #5348ec, #a71e1e, #eba50f);
}

.em{
    color: transparent;
    -webkit-text-stroke: .5px #fff;
    background-image: linear-gradient(#F47A2A,#F5524E);
    background-repeat: no-repeat;
    background-clip: text;
    background-position: -410px 0;
    animation: animateText 6s linear infinite;
    -webkit-background-clip: text;
}

@keyframes animateText {
    0%, 95%, 100%{
         background-position: -410px 0 ;
    }
    65%,85%{
        background-position: 0 0;
    }
}

.typewriter {
  animation: typing 3s steps(12) forwards;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  width: 0;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 12ch;
  }
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 1s step-start infinite;
}

.to-omega-800 {
    --tw-gradient-to: rgb(39 39 42/1);
}

.from-omega-900 {
    --tw-gradient-from: rgb(24 24 27/1);
    --tw-gradient-to: rgb(24 24 27/0);
    --tw-gradient-stops:rgb(24 24 27/1),rgb(39 39 42/1);
}
.via-omega-900 {
    --tw-gradient-to: rgb(24 24 27/0);
    --tw-gradient-stops:rgb(24 24 27),rgb(24 24 27/1),rgb(39 39 42);
}

.to-omega-800 {
    --tw-gradient-to: rgb(39 39 42/1)
}
.from-omega-800 {
    --tw-gradient-from: rgb(39 39 42/1);
    --tw-gradient-to: rgb(39 39 42/0);
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to)
}

/* .bg-gradient-to-b {
    background-image: linear-gradient(to bottom,var(--tw-gradient-stops))
} */
